.u-text-center
{
    text-align: center;
}
.margin-bootom-large
{
    margin-bottom: 8rem;
}
.margin-bootom-midium
{
    margin-bottom: 6rem;
}
.margin-bootom-small
{
    margin-bottom:2rem ;
}
.u-bg-white
{
   background-color: rgba($color-white,0.7);
}