$gutterspace:3.5rem;
$light-green:#7ed56f;
$dark-green:#28b485;
$midium-green:#55c57a;
$color-black:#000;
$color-white:#fff;
$color-light-orange:#ffb900;
$color-dark-orange:#ff7730;
$color-light-blue:#2998ff;
$color-dark-blue:#5643fa;
$color-dark-gray:#898989;
$dark-gray:#575454;